.App {
  border:solid 1px black;max-width:100vw;
}

.title {
 text-align: center; 
 background-color: rgb(255, 226, 226);
 color: rgba(194, 19, 19, 0.897);
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.red{
 font-size: 30px;
 height:50px;
}
img{
height: 500px;
justify-content: center;
margin-left: 200px;
margin-top: 20px;
}
.photoS{
  width: 1000px;
}
.photoP{
  height: 500px;
}